{{point-table markerData=markers elevationData=elevationData}}
{{g-maps name='my-map'
         lat=lat
         lng=lng
         zoom=zoom
         markers=markers
         polylines=polylines
         polygons=polygons
         mapType=mapType}}


{{#if elevationData}}
  <div class="chart-container">
    {{scatter-chart dotRadius=2 data=elevationData color='red'}}
  </div>
{{/if}}

<div>
  Map Type:
  <button {{action 'setMapType' 'roadmap'}}>roadmap</button>
  <button {{action 'setMapType' 'satellite'}}>satellite</button>
  <button {{action 'setMapType' 'hybrid'}}>hybrid</button>
  <button {{action 'setMapType' 'terrain'}}>terrain</button>
</div>

<div class="">
  Plot Latitude:
  {{input value=markerLat }}
  Plot Longitude:
  {{input value=markerLng }}
  <button {{action 'plotPoints' markerLat markerLng}} > Plot Points!</button>
</div>

<div class="">
  Or, Give us a file.
  {{file-reader controller=this}}
</div>

<!-- 45.510529 -->
<!-- -122.5259827 -->
